

html, body {
  margin: 0; /* Remove default margins */
  height: 100%; /* Full height to match the viewport */
  width: 100%; /* Full width to match the viewport */
  padding-top: 0%;
}

.back {
  background-image: url('./images/login_page.jpeg'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
}


.container {
  /* Additional container styles if necessary */
}

.box {
  width: 300px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.paper {
  width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

/* Adjustments for different screen sizes */
@media (max-width: 1200px) {
  .box {
    width: 80%; /* Make the box width 80% of the screen */
  }
  .paper {
      width: 80%; /* Make the box width 80% of the screen */
    }
}

@media (max-width: 768px) {
  .box {
    width: 90%; /* Make the box width 90% of the screen */
    padding: 15px; /* Slightly reduce padding */
  }
  .paper {
      width: 90%; /* Make the box width 90% of the screen */
      padding: 15px; /* Slightly reduce padding */
    }
}

@media (max-width: 480px) {
  .back {
    background-position: top center; /* Adjust background position for better visibility */
  }
  .box {
    width: 95%; /* Make the box almost full-width */
    padding: 10px; /* Reduce padding further */
  }
  .paper {
      width: 95%; 
      padding: 10px; /* Reduce padding further */
    }
}
